<% provide(:title, "aaa") %>
<h1>切りはり</h1>
<p>  切りはりは、様々なサイトから画像を切り出して自分専用のページを作れるサービスです。</b>
</p>
<%= link_to "新規作成"," ...", class: "btn btn-lg btn-primary" %>
<%= link_to "過去に作成したデータ", "https://www.yahoo.co.jp", class: "btn btn-lg btn-primary" %>
