<% provide(:title, '新しいURLを追加') %>
<h1>新しいURLを追加</h1>

<!-- form_with(url: new_page_url_path, model: @url, local: true) do |form|  -->
<%= render 'formnew', url: @url  %>

<%= link_to '戻る', page_urls_path %>
